a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

address {
  font-style: normal;
}

button {
  border: none;
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  min-width: 320px;
  max-width: 1361px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}
@media screen and (min-width: 1361px) {
  .container {
    width: 1361px;
  }
}

button {
  color: #ffffff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 37px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 41px;
  background-color: #E43071;
  border-radius: 38.5px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.title {
  color: #E43071;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.header {
  padding-top: 20px;
  padding-bottom: 16px;
  background: #E43071;
}
@media screen and (min-width: 1361px) {
  .header {
    padding-top: 26px;
    padding-bottom: 25px;
  }
}
.header__box {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #ffffff;
  text-align: center;
  font-family: Poppins;
  font-size: 21.818px;
  font-style: normal;
  font-weight: 800;
  line-height: 109.5%;
  margin-right: auto;
}
@media screen and (min-width: 1361px) {
  .header__logo {
    font-size: 40px;
  }
}
.header__span {
  color: #FFC1D8;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 1361px) {
  .header__nav {
    display: block;
  }
}
.header__items {
  display: flex;
  gap: 76px;
}
.header__link {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 109.5%;
}
.header__search {
  background-color: transparent;
  border: none;
}
.header__burger {
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 1361px) {
  .header__burger {
    display: none;
  }
}
.header__icon {
  width: 15.1px;
  height: 15px;
}
.header__menu {
  width: 24px;
  height: 16px;
  fill: white;
}
.header__login {
  display: none;
  color: #E43071;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 109.5%;
  padding: 16px 62px;
  border-radius: 200px;
  background: #FFF;
  border: none;
  margin-left: 37px;
}
@media screen and (min-width: 1361px) {
  .header__login {
    display: block;
  }
}

.hero {
  padding-top: 103px;
  padding-bottom: 166px;
  background-image: url(../../img/mobile/hero-mobile@1x);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__title {
  color: #ffffff;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 23px;
}