$main-text-color:#424242;
$second-text-color:#858585;
$accent-color:#E43071;
$bcg-color:#DEDEDE;
$second-accent-color: #ffffff;

$main-font:"Poppins",  sans-serif;
$secondary-font: "Open Sans", sans-serif;