@use "../base/var" as *;

.hero{
    padding-top: 103px;
    padding-bottom: 166px;
    background-image: url(../../img/mobile/hero-mobile@1x);
    background-repeat: no-repeat;
    background-size: cover;

    &__title{
        color: $second-accent-color;
text-align: center;
font-size: 32px;
font-weight: 700;
line-height: 36px;
margin-bottom: 23px;
    }

    
}